.header {
  padding: 32px 0 28px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__logo {
  width: 89px;
  height: 40px;
}

.header__geo-details {
  margin: 0;
  margin-left: 24px;
  margin-right: auto;
}

.header__add-clothes-btn {
  background: none;
  border: none;
  margin: 0 20px;
  padding: 0;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  column-gap: 12px;
  text-decoration: none;
  color: black;
}

.header__username {
  line-height: 100%;
  margin: 0;
}

.header__avatar {
  height: 40px;
  width: 40px;
}
